@import url('../css/reset.css');

*{
	position: relative;
}

body{
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* --------------header--------------------- */

header{
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    z-index: 2;
}

@media screen and (max-width: 1900px){
    header{
        height:700px;
    }
}

header .top{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 68, 129, 0.5);

    transition: all 0.5s ;
}

.top{
    z-index: 11;

}

.top a{
    margin: 15px;
    z-index: 3;
}

header ul{
    margin-top: 24px;
}

/* video */

video{
    pointer-events: none;
    position: absolute;
    width: 100%;
}

video::-webkit-media-controls-enclosure{
    display: none;
}       

/* top btn */

.top_btn{
	color: #DEE8F1;
	text-decoration: none;
	font-size: 29px;
	display: inline-block;
	transform: translate(0%,0%);
	overflow: hidden;
	transition: all 0.8s;
    height: 50px;
    line-height: 50px;
}

.top_btn:before{
	display: none;
    content: "";
	position: absolute;
	width: 320px;
	height: 320px;
	border-radius: 130px;
	background-color: rgb(81, 134, 212);
}
@keyframes wave{
	0%{
		transform: translateX(-50%) translateY(4%) rotate(0deg);
	}
	100%{
		transform: translateX(-50%) translateY(4%) rotate(360deg);
	}
}
.top a:hover{
    color: #DEE8F1;
}

.top_btn:hover:before{
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	animation: wave 5s 0s infinite linear;
    display: block;
	transition: all 0.8s;
}

/* top btn end */
.logo{
    z-index: 12;
    margin-left: 2%;
    margin-top: 5px;
    float: left;
    opacity: 0;
    transition: all 0.5;
    width: 90px;
}

/* header ul{
    display: block;
    float: right;
    margin-right: 40px;
    margin-top: 4px;
    line-height: 100px;
}

header li{
    font-size: 29px;
    float: left;
    margin-left: 25px;
    height: 80px;
}

header a{
    color: #DEE8F1;
    text-decoration: none;
    font-weight: bold;
} */

/* .organism > div, .product_item > div, #topbararrow1, #topbararrow2{
    display: none;
} */

header .main{
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 95%;

    transform: translateY(27%);
}

header .main img{
    display: block;
    margin: 0 auto;
}

header .main h2{
    font-size: 40px;
    color: #DEE8F1;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.mainarrow{
    padding-top: 20px;

    animation: mainarrow 2s linear;
    animation-iteration-count: infinite;
}

@keyframes mainarrow{
    0% {
        transform: translateY(0px); opacity: 0.8;
    }
    50% {
        transform: translateY(30px); opacity: 1;
    }
    100% {
        transform: translateY(0px); opacity: 0.8;
    }
}

.index .toolbar{
    display: none;
}

/* ---------------------------body ------------------------- */

main{
    display: block;
    width: 100%;
    height: 1350px;
    background-image: url(../img/body.jpg);
    background-repeat: no-repeat;
    padding-top: 160px;
}


/* -------------------------NEWS---------------------------- */

.news{
    display: block;
    margin:0px auto;
    width: 1150px;
    height: 454px;
    border-radius: 25px;
    background-color: rgba(0, 68, 129, 0.4);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.33);
}

/* News 左側 */

.newsleft{
    display: block;
    background-image: url(../img/newsleftbgi.png);
    width: 30%;
    height: 394px;
    border-radius: 5px;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    text-align: center;
}

.newsleft h2{
    font-size: 45px;
    margin-top: 20px;
}

.newsleft h3{
    font-size: 30px;
    margin-top: 17px;
}


.newsleft p{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 165px;
    font-size: 20px;
    margin-top: 17px;
    line-height: 33px;
    text-align: left;
}

.newsleft a{
    margin-top: 18px;
    width: 118px;
    height: 50px;
    line-height: 5 0px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.newsleft button{
    display: block;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    width: 104px;
    margin-top: 38px;
    border: 2px solid black;
    background-color: none;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s;
}

.newsleft button:hover{
    height: 45px;
    width: 110px;
    transition: all 0.5s;
}

.newsleft button:hover a{
    font-size: 24px;
    transition: all 0.8s;
}

/* News 右側 */
.newsright{
    display: block;
    width: 65%;
    height: 394px;
    float: right;
    margin-top: 30px;
}

.newsright ul{
    color: #DEE8F1;
    font-size: 29px;
    position: relative;
}


.newsright ul::before{
    content: '';
    display: block;
    width: 730px;
    height: 2px;
    background-color: #DEE8F1;

    position: absolute;
    bottom: 10px;
    left: 0;
    right: 70px;
    margin: auto;
}

.newsright li{
    padding-left: 15px;
    display: inline-block;
}

.newsright a{
    color: #DEE8F1;
    text-decoration: none;
    line-height: 3.3;
}

/* -----------------------dispaly area----------------------- */

.display{
    margin-left: 135px;
    padding-bottom: 75px;
    margin-top: 155px;
}

.displaycontent{
    width: 50%;
    height: 460px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

.displaycontent img{
    height: 100%;
    width: 100%;
}

.display{
    color: #DEE8F1;
    font-size: 26px;
    font-weight: bold;
}

/* -----------------------SAVING CORAL AREA--------------------- */

.coralArea{
    width: 100%;
    height: 2300px;
    padding-top: 150px;
}

.coralArea h2{
    font-size: 40px;
    font-weight: 700;
    color: #004481;
    padding-left: 132px;
}

/* temp area */

.temparea{
    display: block;
    width: 1200px;
    height: 522px;
    margin: 0 auto;
    margin-top: 80px;
}

.templeft{
    display: block;
    float: left;
    width: 46%;
    text-align: center;
    left: -30px;
    opacity: 0;
    overflow: hidden;
}

.templeft img{
    margin-top: 60px;
}

.templeft h3{
    margin-top: 40px;
    font-size: 35px;
    color: #004481;
    font-weight: 600;
}

.templeft p{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 29px;
    color: #004481;
    text-align: left;
    line-height: 1.1;
}

.tempright{
    float: right;
    width: 54%;
    margin-top: 53px;
}

/* bleaching area */

.bleaching{
    display: block;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    margin-top: 180px;
}

.bleachingleft{
    float: left;
    width: 50%;
}

.bleachingright{
    display: block;
    float: right;
    width: 50%;
    text-align: center;
    right: -30px;
    opacity: 0;
    overflow: hidden;
}

.bleachingright img{
    margin-top: 26px;
}

.bleachingright h3{
    margin-top: 40px;
    font-size: 35px;
    color: #004481;
    font-weight: 600;
}

.bleachingright p{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 29px;
    color: #004481;
    line-height: 1.1;
}

/* ----- American Samoa -----*/

.samoa{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 590px;
    overflow: hidden;
}

.coralArea .samoah2{
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 0px;
}

.samoah3{
    font-size: 29px;
    color: #004481;
    text-align: center;
}

/* ---------before & after-------------- */

.img-conmp-container{
    position: relative;
    height: 540px;
    width: 800px;

}

.img-comp-img{
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img-comp-img img{
    display: block;
}

.img-comp-slider{
    position: absolute;
    z-index: 1;
    cursor: ew-resize;
    width: 25px;
    height: 25px;
    background-color: #004481;
    border: solid 10px #fff;
    border-radius: 50%;
}


.index .top ul div a{
    padding: 0;
}

/* ----------------414p -------------- */

@media screen and (max-width: 414px){
    header{
        width: 100%;
        height: 1000px;
        background-repeat: no-repeat;
        z-index: 2;
    }
    header .top{
        height: 70px;
        background-color: rgba(0, 68, 129, 0.5);
    
        transition: all 0.5s ;
    }

    .top a {
        margin: 0 ;
    }
    
    /* video */
    
    header{
        overflow: hidden;
        position: relative;
    }

    video{
        width: 1920px;
        position: absolute;
        top: 0;
        left: 35%;
        transform: translateX(-50%);
    }    
    
    header .main{
        display: block;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        height: 100%;
    
        transform: translateY(27%);
    }
    
    .index .toolbar{
        display: block;
        position: absolute;
        width: 35px;
        float: right;
        top: 20px;
        right: 20px;
    }

    .logo{
        width: 60px;
    }

/* ---------------------------top btn ------------------------- */

    .top_btn{
        font-size: 18px;
        overflow: visible;
        height: 60px;
        line-height: 60px;
    }

    .top a li{
        text-align:
    }

    .top_btn:hover:before{
        display: none;
    }


/* ---------------------------body ------------------------- */

main{
    padding-top: 100px;
    height: 1270px;
    background-position: center;
}

/* ---------------------------news ------------------------- */

.news{
    width: 90%;
    height: 810px;
}

/* News 左側 */

.newsleft{
    width: 90%;
    margin-left: 5%;
    height: 360px;
}

.newsleft h2{
    font-size: 35px;
}

.newsleft h3{
    font-size: 21px;
}

.news .newsleft p {
    font-size: 17px;
}

.newsleft button{
    margin-top:15px;
}
/* News 右側 */

.newsright{
    width: 95%;
    margin-top: 20px;
}

.newsright ul{
    font-size: 18px;
    margin-bottom: 10px;
}

.newsright a{
    line-height: 2.5;
}

.newsright .type{
    display: none;
}

.newsright ul::before{
    width: 80%;
    margin-left: 6%;
    bottom: -6px;
}

.newsright ul:nth-last-child(1):before{
    display: none;
}

.newsright li{
    display: block;
}

/* -----------------------dispaly area----------------------- */

.display{
    margin-top: 70px;
    margin-left: auto;
    text-align: center;
    padding-bottom: 60px;
}

.displaycontent{ 
    display: block;
    width: 80%;
    height: 260px;
}

/* -----------------------SAVING CORAL AREA--------------------- */

.coralArea{
    width: auto;
    margin-top: 0px;
    padding-top: 100px;
    height: 1725px;
}

.coralArea h2{
    font-size: 26px;
    padding-left: 0;
    text-align: center;
}

/* temp area */

.temparea{
    width: 90%;
}

.templeft{
    float: none;
    width: 100%;
    clear: both;
}

.templeft_top{
    display: block;
    width: 80%;
    height: 61px;
    margin: 0 auto;
}

.templeft_top h3{
    font-size: 20px;
    float: right;
    width: 82%;
    height: 61px;
    margin-top: auto;
    line-height: 61px;
}

.templeft_top img{
    width: 18%;
    margin-top: auto;
    float: left;
}

.templeft p{
    font-size: 18px;
    line-height: 1.3;
    margin-top: 20px;
}

.tempright{
    float: none;
    width: 100%;
    left: -5px;
}

/* bleaching area */

.bleaching{
    width: 90%;
    margin-top: 80px;
}

.bleachingright{
    width: 100%;
    float: none;
    clear: both;
}

.bleachingright_top{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 60px;
}

.bleachingright img{
    float: left;
    margin-top: auto;
    height: 60px;
}

.bleachingright h3{
    margin-top: auto;
    font-size: 20px;
    float: right;
    width: 70%;
    height: 60px;
    line-height: 60px;
    left: -18px;
}

.bleachingright p{
    font-size: 18px;
    line-height: 1.3;
    margin-top: 20px;
    text-align: left;
}

.bleachingleft{
    float: none;
    width: 100%;
    margin-top: 53px;
}

/* ----- American Samoa -----*/

.samoa{
    width: 90%;
    height: 252px;
}

.coralArea .samoah2{
    margin-top: 60px;
}

.samoah3 {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
}

}
