@import url('reset.css');

body{
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* -------------- main --------------------- */

main{
    padding-top: 70px;
}

.service{
    width: 1100px;
    height: 178px;
    border: 5px #004481 solid;

    display: block;
    margin: 0 auto;
}

.service h1{
    font-size: 60px;
    text-align: center;
    line-height: 178px;
    color: #004481;
}

/* -------------- section --------------------- */

section{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 692px;
    margin-top: 110px;
    color: #004481;
    margin-bottom: 150px;
    overflow: hidden;
    /* border: 1px black solid; */
}

/* ---------------------- artical 1---------------------------*/

.article1{
    overflow: hidden;
}

.customizep1{
    width: 560px;
    height: 320px;
    float: right;

    display: block;
    margin: 0 auto;

}

.article1 img{
    float: left;
    width: 500px;
    height: 320px;
}

.customizep1 h1{
    font-size: 40px;
    font-weight: 550;
    color: #004481;
    text-align: center;
    margin-top: 55px;
}

.article1 p{
    display: block;
    margin: 0 auto;
    width: 420px;
    font-size: 30px;
    text-align: left;
    font-weight: 550;
    margin-top: 40px;
}

/* ---------------------- artical 2---------------------------*/


.content{
    display: flex;
    margin: 0 auto;
    width: 434px;
    font-size: 25px;
    text-align: left;
    font-weight: 550;
    margin-top: 35px;
}

.article2{
    margin-top: 100px;
    overflow: hidden;
}

.article2 .img{
    float: right;
}

.article2 h2{
    font-size: 40px;
    font-weight: 550;
    color: #004481;
    text-align: center;
    margin-top: 26px;
}

.customizep2{
    width: 510px;
    height: 320px;
    float: left;
}
