@import url('reset.css');

body{
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* ---------------------------body ------------------------- */
/* ---------------------------asid ------------------------- */
main{
    width: 100%;
    display: flex;
}

aside{
    width: 13%;
    font-size: 26px;
    color: #001B48;
    padding-top: 65px;
    font-weight: bold;
}

.asideul{
    float: right;
    width: 120px;
    left: 0;
}

.aside li{
    padding: 15px 0;
}

.aside a {
    text-decoration: none;
    color: #001B48;
}
/* ---------------------------section ------------------------- */
section{
    width: 85%;
    float: right;
    /* border: 1px black solid; */
    display: flex;
    flex-wrap: wrap;
    /* 會讓section item比例縮小 */
    padding: 35px;
    padding-top: 80px;
}

.sectioncont{
    width: 33%;
    /* border: 1px black solid; */
    text-align: center;
}

.sectiontext{
    display: flex;
    font-size: 20px;
    color: #001B48;
    line-height: 1.5;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.sectiontext .item{
    margin-left: 85px;   
}

.sectiontext .content{
    margin-left: 60px;
}
